# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=
# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=
# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=
# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=
# Database URL for PostgreSQL
DATABASE_URL=
# Resend API key
RESEND_API_KEY=
# Better Auth
BETTER_AUTH_SECRET=
# Better Auth URL
BETTER_AUTH_URL=http://localhost:3000
# ShadcnBlocks.com API key
SHADCNBLOCKS_API_KEY=
# Resend from email
RESEND_FROM_EMAIL=
# OpenAI API key
OPENAI_API_KEY=
# OpenAI API project ID
OPENAI_API_PROJECT_ID=